.fondo {
    background-color: rgba(239, 142, 250, 0.195); /* Azul violeta con 30% de opacidad */
}

CFE6DD
.textodark {
    color: black;
}

.tarjetas {
    margin-top: 50px;
    margin-left: 40px;
}

.imagentarjeta {
    padding-left: 30px;
}

.reproductormusica {
    margin-top: 160px;
}

.tarjeta2 {
    margin-bottom: 70px;
}

/* ----------------------- */
.music-player {
    width: 300px;
    background-color: #ace0e9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #0d7be9, -10px -10px 20px #45c4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    width: 200px;
    height: 200px;
    background-image: url('./pic/imagen5.jpg');
    border-radius: 50%;
    margin-bottom: 20px;
    
}

.song-info {
    text-align: center;
}

.song-title, .artist {
    margin: 0;
}

audio {
    margin-top: 20px;
    width: 100%;
}
