#imagen2 {
    width: 350px;
    height: 350px;
    margin-left: 170px;
    margin-top: -120px;
}

#tarjeta {
    margin-left: 80px;
}

.textos {
    margin-left: 200px;
}


#tarjeta2 {
    margin-left: 80px;
}


#imagenACambiar {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    margin-bottom: -500px;
}



#imagenFinal {
    margin-left: 100px;
    margin-top:-150px;
}

.espaciadorfinal {
    margin-top: 100px;
    margin-left: 40px;
}