@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

body {
    background-image: url("pic/fondoCómomesiento1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.row, col {
    color: black;

}

